<header></header>

<div class="row padded images-loaded">
  <div class="col-xs-4 form-column top-margin">

    <div class="formcontrol border-bottom padded">
      <h3 class="article-heading">Choose your date</h3>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="card.date" is-open="opened" min-date="minDate" max-date="maxDate" init-date="card.date" ng-required="true" close-text="Close" ng-change="selectDate(card.date)" datepicker-popup>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>

      <!-- <span class="input-group col-xs-offset-1 col-xs-10">
        <input ng-model="card.date" ng-change="selectDate(card.date)" type="date" min="1946-01-01" class="form-control">       
        </input> 
      </span> -->
    </div>

    <div class="formcontrol border-bottom padded">
      <h3 class="article-heading">Your article (birthday greeting)</h3>
      <div class="input-group col-xs-offset-1 col-xs-11">
        <input ng-model="feature.heading" type="text" class="form-control" placeholder="Your heading">
        <input ng-model="feature.author" type="text" class="form-control" placeholder="author (who is this card from?)">
        <textarea ng-model="feature.article_text" ng-keyup="repack()" rows="5" type="text" class="form-control" placeholder="article text (message)"></textarea>
      </div>
    </div>

  </div>

  <!-- main newspaper -->
  <div class="col-xs-8">
    <div class="newspaper">
      <div class="newspaper-header">
        <h1 class="divtest">The Alacritous Times</h1>
        <h5 class="date-text">{{card.date | amDateFormat:'dddd, MMMM Do YYYY'}}</h5>
      </div>

      <div id="container" class="final_size">

        <div class="item-container border item grid-sizer">
          <div class="article-heading">
          <img ng-src="<%= asset_path('movie.png') %>" class="image border-top">
            <h3>{{card.movie}} Wins Best Picture {{card.date | amDateFormat:'YYYY'}}</h3>
          </div>
          <div class="article-text"><p>{{card.movie}} <span ng-if="card.producersExist">({{card.producers}}) </span>has won the Best Picture award for {{card.date | amDateFormat:'YYYY'}}, beating out {{card.nominees}}.</p>
          <p>{{card.bestActor}} won Best Actor for {{card.bestActorMovie}} and {{card.bestActress}} took out the Best Actress award for {{card.bestActressMovie}}</p>
          </div>
        </div>

        <div id="main-feature-article" class="item-container border item w2 main-feature">
          <div class="article-heading feature"><h2>{{feature.heading}}</h2></div>
          <div class="article-author"><h5>{{feature.author}}</h5></div>
          <div class="article-text article">{{feature.article_text}}
            <img ng-src="<%= asset_path('avatar.ico') %>" class="image avatar">
          </div>
        </div>      

        <div class="item-container border item w2">
          <div class="article-heading"><h3>Breaking News!</h3></div>
          <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="item-container border item w3">

          <div class="article-text col-xs-6">
            <img ng-src="<%= asset_path('assets/zodiacs/{{card.zodiacName}}.png') %>" class="image avatar">
            {{card.zodiac}} 
          </div>

          <div class="article-text col-xs-6">
            {{card.chinese_horoscope}}   
            <img ng-src="<%= asset_path('assets/chinese_horoscope/{{card.animalName}}.jpg') %>" class="image avatar">  
          </div>
        </div>

        <div class="item-container border item">
          <div class="article-heading border-top"><h3>US Top 5!</h3></div>
          <div class="article-text">
            <ol class="songs">
              <li ng-repeat='song in card.songlist track by $index'>{{song}}</li>
            </ol>
            <img ng-src="<%= asset_path('music.jpeg') %>" class="image margin">
          </div>
        </div>

        <div class="barcode-stamp">
          <div class="barcode padded">DALEFOO.COM</div>
        </div>

        <div class="bordertest">
          <div class="oldseal">C</div>
        </div>
      </div>
    </div>

  </div>
</div>
